body {
	background: #CCC;
}
h2 {
	margin: 5px 0;
}
.btn {
	border-radius: 0;
}
.all {
	background: #FFF;
	width: 1228px;
	margin: 20px auto;
	border: 1px solid #000;
	min-height: 800px;
	position: relative;
	z-index: 1;
	position: relative;
}
.all input {
	height: 30px;
}
.error {
	color: #FF0000;
}
.success {
	color: #009933;
}
.veil {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.full-veil {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	opacity: .85;
	z-index: 10;
}
#veilpop .full-veil {
	z-index: 100;
}
.none {
	display: none;
}
.clear {
	clear: both;
}
.all input, .all select, .all button {
	border-radius: 0;
}
[class*="span"] {
	margin-bottom: 20px;
}
[class*="span"] p {
	margin: 10px;
}
[class^="draft__"] {
	color: #999;
	font-style: italic;
	clear: both;
	margin: 10px;
}

.intro {
	clear: both;
	margin: 20px auto 30px;
	width: 1250px;
}
.intro__txt {
	font-family: 'Marcellus SC', serif;
	font-size: 51px;
	text-align: center;
	text-shadow: 1px 2px 3px rgba(232,96,28,1);
}


/* login and registration */
.furion {
	position: absolute;
	top: 20px;
	right: 20px;
}
.overlay {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0 0 5px #CCCCCC;
    font-size: 13px;
    left: 50%;
    margin: -109px 0 0 -185px;
    min-height: 150px;
    min-width: 300px;
    padding: 14px 20px 20px;
    position: fixed;
    width: 328px;
    top: 50%;
    z-index: 101;
}
.icon-off {
	cursor: pointer;
}
.overlay__login__wrapper {
	float: left;
}
.overlay__login__btns {
	margin: 5px 0;
	width: 113px;
	float: left;
}
.overlay__login__img {
	width: 59px;
	height: 33px;
	float: left;
	border: 1px solid #D9D9D9;
	margin: 0 10px 5px 0;
}
.overlay__login__img {
	float: left;
	position: relative;
	margin: 1px 13px 0 20px;
	width: 135px;
	height: 135px;
}
.overlay__login__via {
	position: relative;
	width: 110px;
	text-align: center;
	margin: 0 0 5px;
}
.overlay__login__info {
	float: left;
	width: 130px;
	height: 92px;
	margin: 10px 0 0;
	text-align: center;
	padding: 25px 0 0 0;
}
.overlay__login__info__count {
	color: #FF0000;
}
/* section tutorial */
.tutorial {
	margin: 20px;
}

/* before и afert login */

.after-login .user, .after-login .poll {
	background: #FFF;
}
.before__notice {
	color: #000;
	font-size: 14px;
	text-align: center;
	margin: 125px 0 0 0;
}
.before__notice-silencer {
	margin: 23px 0 0 160px;
}


/* section POLL */
.poll, .score, .user, .stats, .versus, .user__more {
	border: 1px solid #D9D9D9;
    box-shadow: 0 0 5px #CCCCCC;
    height: 203px;
}
.poll .control-group {
	margin-bottom: 5px;
}
.form__poll {
	margin: 0;
}
.btn-poll {
	margin: 4px 0 0 59px;
	width: 122px;
	float: left;
}
.poll .form-horizontal .control-label {
	width: 50px;
}
.select__team {
	width: 120px;
	margin: 0 10px;
}
.points__count {
	width: 50px;
}
.poll__header, .score__header {
	text-align: center;
}
.form-horizontal .poll__controls {
	margin-left: 68px;
}
.error-poll, .success-poll {
    float: left;
    font-size: 13px;
    line-height: 14px;
    margin: 5px;
    text-align: center;
    width: 90px;
}
.poll__rules__item {
	list-style: square outside none;
}
.poll__rules__list {
	margin: 0 0 0 40px;
}

/* section SCORE */

.score__lbl {
	float: left;
	clear: left;
	margin: 0 0 5px 5px;
}
.score__top {
	margin: 0 0 0 5px;
	border: 1px solid #CCC;
	background: #0088CC;
	-webkit-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	text-align: center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
    height: 20px;
    width: 0px;
}
.btn-refresh-score {
	clear: both;
	float: left;
	margin: 10px;
}
.score__date {
	margin: 10px;
}
/* section USER */
.btn__quit {
	margin: 5px 0;
}
.user {
	height: 203px;
	position: relative;
}
.user__ava {
	margin: 17px 25px;
	float: left;
	width: 100px;
	overflow: hidden;
}
.user__greetings {
	float: left;
	width: 130px;
	margin: 15px 0 0 0;
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.user__greetings__name {
	color: #FF0000;
}

/* STATS */
.stats {
	width: 1184px;
	min-height: 300px;
	margin: 0 auto;
}
.stats__item {
	margin: 20px 0 0 20px;
}


/* TEAM */
.user__section {
	border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	padding: 10px;
	width: 1208px;
	float: left;
	display: none;
}
.team {
	float: left;
	width: 1208px;
	margin: 10px 0;
}
.team__user__ava {
	width: 130px;
	height: 130px;
	overflow: hidden;
}
.team__user__wrapper {
	/* background: url(../img/preloader.gif) no-repeat center center; */
	width: 130px;
	border: 1px solid #D9D9D9;
	box-shadow: 0 0 5px #CCCCCC;
	height: 225px;
	float: left;
	margin: 0 0 0 17px;
}
.team__user__msg {
	text-overflow: ellipsis;
}
.team__user {
	padding: 5px;
	font-size: 12px;
	line-height: 17px;
	vertical-align: top;
	position: relative;
	height: 85px;
}
.t__user-wd, .t__user__vd {
	padding: 0 0 0 2px;
}
.team__user__wrapper [class^="icon-"] {
	padding: 0 5px 0 0;
}
.team__want .team__user__wrapper {
	height: 240px;
}
.team__want .team__user {
	height: 100px;
}
.team__user__item-bottom {
	position: absolute;
	bottom: 5px;
}
.teamfind-header, .teamwant-header {
	height: 50px;
	float: left;
	margin: 0 20px 0 405px;
}
.teamwant-header {
	margin: 0 20px 0 328px;	
}
#loadUserFromDB, #loadUserFromDB-out {
	float: left;
	margin: 10px 0 0 0;
}


/* VERSUS */
.versus {
	position: relative;
	width: 900px;
	margin: 0 auto;
	height: 400px;
}

.diagramms__middle {
	width: 4px;
	background: #000;
	height: 0px;
	position: absolute;
	top: 70px;
	left: 50%;
	margin: 0 0 0 -2px;
	-webkit-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}
.diagramms__team {

	background: rgb(255,48,25); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	height: 50px;
	width: 0px;
	position: absolute;	
	top: 140px;
	right: 50%;
	margin: 0 2px 0 0;
	-webkit-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}
.diagramms__team-1 {
	
}
.diagramms__team-2 {
	
	background: rgb(15,180,231); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(15,180,231,1) 0%, rgba(169,228,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(15,180,231,1)), color-stop(100%,rgba(169,228,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(15,180,231,1) 0%,rgba(169,228,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(15,180,231,1) 0%,rgba(169,228,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(15,180,231,1) 0%,rgba(169,228,247,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(15,180,231,1) 0%,rgba(169,228,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fb4e7', endColorstr='#a9e4f7',GradientType=1 ); /* IE6-9 */

	top: 90px;
	left: 50%;
	margin: 0 0 0 2px;
}

/* user__more */
.user__more {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0 0 5px #CCCCCC;
    font-size: 13px;
    left: 50%;
    margin: -152px 0 0 -225px;
    padding: 10px;
    position: fixed;
    width: 450px;
	height: 305px;
    top: 50%;
    z-index: 101;
}
.btn-add-user-more {
	margin: 15px 0 0 0;
}
.control-group-float {
	float: left;
}
.user__more__form .control-label {
	width: 130px;
}
.user__more__select {
	margin: 0 0 0 5px;
}
.user__more .control-label-col2 {
	width: 30px;
}
.user__more__select {
	width: 138px;
}
.control-group-float .user__more__select {
	float: left;
}
.user__more__choise-want {
	display: none;
}
.radio-user-more {
	margin: 0 0 5px 115px;
}
.btn-user-more {
	margin: 0 35px 0 135px;
	width: 138px;
	float: left;
}
.user__more select {
	border-radius: 0;
}
.success-user-more {
	float: left;
	width: 140px;
	padding: 5px 0 0 0;
}